<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

	<h:form rendered="#{userMangementBean.logged}">
		<h:panelGrid columns="2">
			<h:outputText value="Logged in as #{userMangementBean.user.username}" />
			<p:commandButton action="#{userMangementBean.logout()}" ajax="false"
				value="Logout" />
		</h:panelGrid>
	</h:form>

</ui:composition>

