<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
		template="/core.xhtml">
	<ui:define name="title">add challenge</ui:define>
	<ui:define name="content">
		<iframe src="http://localhost:18080/skiworld-web/AjoutChallenge.jsf" style="width:100%;height:700px" scrolling="no" frameborder="0"></iframe>
			</ui:define>
</ui:composition>