<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	 <h:head>
	 </h:head>

<h:body>
<h2>
veuillez saisir les donnée du groupe </h2>

<h:form>
<h:panelGrid columns="2">
<p:outputLabel value="Group Name"/>
<p:inputText  placeholder="Group Name" value="#{adsBean.groupename}"/>
<p:outputLabel  value="Image :" /> 				
				<p:fileUpload style="width:700px;" value="#{adsBean.file}" fileUploadListener="#{adsBean.handleFileUpload}" mode="advanced" dragDropSupport="false"
           sizeLimit="1000000" fileLimit="1"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
</h:panelGrid>
<h:panelGrid>

<h2>add users to groupe </h2>
<p:dataTable var="user" value="#{adsBean.users}">
    <f:facet name="header">
        List of Users
    </f:facet>
  <p:column headerText="id">
        <h:outputText value="#{user.id}" />
    </p:column>
    <p:column headerText="First name">
        <h:outputText value="#{user.firstname}" />
    </p:column>
 
    <p:column headerText="Last name">
        <h:outputText value="#{user.lastname}" />
    </p:column>
     <p:column >
       <p:commandButton type="submit" value="add user to group"
				action="#{adsBean.adduserTogroupe(user.id)}"  /> 
    </p:column>
 
   
 
   
</p:dataTable>
</h:panelGrid>
<p:commandButton type="submit" value="Create"
				action="#{adsBean.doCreateGroupe()}"  /> <br></br>


</h:form>

</h:body>

</html>