<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	<h:head>
	
	</h:head>
<h:body>
<h2>
veuillez saisir les donnée du challenge </h2>
<p:tooltip />
<h:form>
 
  
 
</h:form>
<h:form>
   

<h:panelGrid columns="2">
<p:outputLabel value="challenge name"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.nomChallenge}"/>
<p:outputLabel value="description"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.descriptionChallenge}"/>
<p:outputLabel value="places"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.nbrePlace}" type="number"/>
<p:outputLabel for="datetime" value="Date debut du challenge" />
        <p:calendar id="datetime" value="#{ChalBean.detedebut}" pattern="MM/dd/yyyy HH:mm:ss" />
 <p:outputLabel for="datetime1" value="Date expiration du challenge" />
        <p:calendar id="datetime1" value="#{ChalBean.dateExpiration}" pattern="MM/dd/yyyy HH:mm:ss" />
</h:panelGrid>
 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
<p:commandButton  value="Create" 
				actionListener="#{ChalBean.DocreateChallenge}"  /> <br></br>


</h:form>

</h:body>

</html>