<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/core.xhtml">
	   
	  <ui:define name="title">Crud Challenge</ui:define>
	<ui:define name="content">
<h2>
challenges</h2>
<h:body>
<h:form>
 

   <p:commandButton type="submit" value="piechart" action="#{ChalBean.createPieModel()}"  /> 



<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3>challenges</h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>challenge name</th>
                                      <th> challenge date</th>
                                      <th>challenge description</th>
                                      <th>Challenge places</th>
                                      <th></th>
                                       <th></th>
                                        <th></th>
                                      
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user" value="#{ChalBean.Groupessssownedbyuser()}">
                                    <tr>
                               <td>#{user.nomChallenge}</td>
                               <td>#{user.dateCreation}</td>
                               <td>#{user.descriptionChallenge}</td>
                               <td>#{user.nbrePlace}</td>
                               <td>
                                 
                               <p:commandButton type="submit" value="Delete challenge"
				action="#{ChalBean.DeleteChallenge(user.idChallange)}"  /> 
                               </td>
                               <td>
                               
                                      <p:commandButton type="submit" value="Update" action="#{ChalBean.redirecttoUpdate(user.idChallange)}"  /> 

                               </td>
                               <td>
                                      <p:commandButton type="submit" value="set winner" action="#{ChalBean.redirecttoWinner(user.idChallange)}"  /> 

                               </td>
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->

</h:form>
</h:body>
</ui:define>
</ui:composition>
