<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
		template="/core.xhtml">
	<ui:define name="title">add challenge</ui:define>
	<ui:define name="content">
	
	<div style="margin-left: 15cm;">	
	<p:outputLabel value="challenge name"/><br />
		<h:inputTextarea  value="#{ChalBean.ui.nomChallenge}" disabled="true"/><br />
		<p:outputLabel value="challenge owner"/><br />
		<h:inputTextarea  value="#{ChalBean.ui.challengeowner.firstname}" disabled="true"/><br />
		<p:outputLabel value="start date"/><br />
	<h:inputTextarea  value="#{ChalBean.ui.dateDebut}" disabled="true"/><br />
				<p:outputLabel value="expiration date"/><br />
				<h:inputTextarea  value="#{ChalBean.ui.dateExpiration}" disabled="true"/><br />
						<p:outputLabel value="Groupe"/><br />
						<h:inputTextarea  value="#{ChalBean.ui.idGroupe.groupename}" disabled="true"/><br />
		
		
		</div>
			</ui:define>
</ui:composition>