<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/core.xhtml">
	   
	   <ui:define name="title">Crud groupe</ui:define>
	<ui:define name="content">
<h2>
Groupes </h2>
<h:body>
<h:form>


<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3>   List of Groupe</h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>groupe name</th>
                                     
                                     
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user" value="#{adsBean.gga}">
                                    <tr>
                               <td>#{user.groupename}</td>
                              
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->




<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3>challenges over</h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>challenge name</th>
                                      <th>nombre de place</th>
                                      <th></th>
                                      
                                     
                                     
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user" value="#{adsBean.findgroupebychallenge1()}">
                                    <tr>
                               <td>#{user.nomChallenge}</td>
                               <td>#{user.nbrePlace}</td>
                               <td>  <p:commandButton type="submit" value="access groupe"
				action="#{ChalBean.Showdetailschallenge(user.idChallange)}"  /> </td>
                               
                              
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->




<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3> current challenges</h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>challenge name</th>
                                      <th>nombre de place</th>
                                      <th></th>
                                      
                                     
                                     
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user1" value="#{adsBean.findgroupebychallenge2()}">
                                    <tr>
                               <td>#{user1.nomChallenge}</td>
                               <td>#{user1.nbrePlace}</td>
                               <td>  <p:commandButton type="submit" value="access groupe"
				action="#{ChalBean.Showdetailschallenge(user1.idChallange)}"  /> </td>
                               
                              
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->

<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3>challenges yet to come</h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>challenge name</th>
                                      <th>nombre de place</th>
                                      <th></th>
                                      
                                     
                                     
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user2" value="#{adsBean.findgroupebychallenge3()}">
                                    <tr>
                               <td>#{user2.nomChallenge}</td>
                               <td>#{user2.nbrePlace}</td>
                               <td>  <p:commandButton type="submit" value="access groupe"
				action="#{ChalBean.Showdetailschallenge(user2.idChallange)}"  /> </td>
                               
                              
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->
<h2>add challenges to this group</h2>
<h:link outcome="addchal.xhtml"> Create new Challenget</h:link> <br></br>
</h:form>
</h:body>
</ui:define>
</ui:composition>
