<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

    <!-- ADD Switcher -->
		<div class="demo_changer">
			<div class="demo-icon"><i class="fa fa-cog fa-spin fa-2x"></i></div>
                <div class="form_holder">
                    <h4>CHOOSE YOUR STYLE</h4>
                    
                    <div class="predefined_styles">                    
					<form>
						<select id="headers" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Change Header</option>
                            <option value="header1.html">Header Style 1</option>
                            <option value="header2.html">Header Style 2</option>
                            <option value="header3.html">Header Style 3</option>
						</select>         
						<select id="footers" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Change Footer</option>                            <option value="footer1.html#footer-style-1">Footer Style 1</option>
                            <option value="footer2.html#footer-style-2">Footer Style 2</option>
                            <option value="footer3.html#footer-style-3">Footer Style 3</option>
						</select>     
						<select id="layouts" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Select Layout</option>
                            <option value="fullwidth_layout.html">Fullwidth Layout</option>
                            <option value="boxed_layout.html">Boxed Layout</option>
						</select>                   
					</form>
                    <hr></hr>
                    <h4>LIGHT OR DARK</h4>
                        <a href="#" rel="light" class="styleswitch"><img class="img-thumbnail" src="#{request.contextPath}/resources/switcher/images/light.png" alt=""></img></a>	
                        <a href="#" rel="dark" class="styleswitch"><img class="img-thumbnail" src="#{request.contextPath}/resources/switcher/images/dark.png" alt=""></img></a>	
                    <hr> </hr>
                    <h4>PATTERNS</h4>
					<div class="PatternChanger">
						<a href="switcher/images/patterns/bg_01.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_01.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_02.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_02.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_03.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_03.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_04.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_04.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_05.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_05.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_06.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_06.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_07.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_07.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_08.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_08.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_09.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_09.jpg" alt=""></img></a>
						<a href="switcher/images/patterns/bg_10.jpg" class="bg_t"><img src="#{request.contextPath}/resources/switcher/images/patterns/bg_10.jpg" alt=""></img></a>
					</div>	
					<hr></hr>
                    <h4>PREDEFINED SKINS</h4>
                        <a href="#" rel="green" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/green.png" alt=""></img></a>	
                        <a href="#" rel="tael" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/tael.png" alt=""></img></a>	
                        <a href="#" rel="light-green" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/light-green.png" alt=""></img></a>	
                        <a href="#" rel="yellow" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/yellow.png" alt=""></img></a>	
                        <a href="#" rel="blue" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/blue.png" alt=""></img></a>	
                        <a href="#" rel="light-blue" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/light-blue.png" alt=""></img></a>	
                        <a href="#" rel="purple" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/purple.png" alt=""></img></a>	
                        <a href="#" rel="violet" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/violet.png" alt=""></img></a>	
                        <a href="#" rel="red" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/red.png" alt=""></img></a>	
                        <a href="#" rel="orange" class="styleswitch"><img src="#{request.contextPath}/resources/switcher/images/orange.png" alt=""></img></a>	
                    </div>
                    <hr></hr>
                    <p>This tools is just for demo site.</p>
                </div>
            </div>
    <!-- END Switcher -->
    
	<div id="topbar" class="clearfix">
    	<div class="container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
            </div><!-- end columns -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="topmenu">
                	<span class="topbar-login"><i class="fa fa-user"></i> 
                	<table id="identity-nav">
			<tr>
				<td>
					<div>
						<ui:include src="/WEB-INF/template/identity.xhtml" />
					</div>
				</td>
			</tr>

		</table></span>
                </div><!-- end top menu -->
            	
            </div><!-- end columns -->
        </div><!-- end container -->
    </div><!-- end topbar -->
    
    <header id="header-style-1">
		<div class="container">
			<nav class="navbar yamm navbar-default">
				<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index-2.html" class="navbar-brand">SkiWorld</a>
        		</div><!-- end navbar-header -->
                
				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <div class="arrow-up"></div></a>
							<ul class="dropdown-menu">
                                <li>
                                  
                                </li>
                            </ul><!-- end drop down menu -->
						</li><!-- end drop down -->
                        <li><a href="about.html">About</a></li>
						
                        <!-- standard drop down -->
                       
                       
                        <!-- standard drop down -->
						
                        <!-- standard drop down -->                        
						<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Groupe <div class="arrow-up"></div></a>
							<ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <ul class="col-sm-3">
                                               <li><a href="http://localhost:18080/skiworld-web/AddGr.jsf">add groupe</a></li>
                                                
                                                <li><a href="http://localhost:18080/skiworld-web/CrudGroupe.jsf">manage owned Groupes</a></li>
                                                <li><a href="http://localhost:18080/skiworld-web/CrudChallenge.jsf">Manage owned challenges</a></li>
                                                <li><a href="http://localhost:18080/skiworld-web/showpie.jsf">Statistiques</a></li>
                                                <li><a href="http://localhost:18080/skiworld-web/GroupeByUser.jsf">Groups</a></li>
                                            </ul>
                                          
                                           
                                        </div><!-- end row -->
                                    </div><!-- end yamm-content -->
                                </li>
                            </ul><!-- end drop down menu -->
						</li><!-- end drop down -->
                        <!-- standard drop down -->
					</ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-1 -->			</nav><!-- end navbar yamm navbar-default -->
		</div><!-- end container -->
	</header><!-- end header-style-1 -->
	</ui:composition>