<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
	
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta name="description" content=""></meta>
  <meta name="keywords" content=""></meta>
  <meta name="author" content=""></meta>

  <!-- Bootstrap Styles -->
  <link href="#{request.contextPath}/resources/css/bootstrap.css" rel="stylesheet"></link>
  
  <!-- Styles -->
  <link href="#{request.contextPath}/resources/style.css" rel="stylesheet"></link>
  
  <!-- Carousel Slider -->
  <link href="#{request.contextPath}/resources/css/owl-carousel.css" rel="stylesheet"></link>
  
  <!-- CSS Animations -->
  <link href="#{request.contextPath}/resources/css/animate.min.css" rel="stylesheet"></link>
  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'></link>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'></link>
  <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'></link>

  <!-- SLIDER ROYAL CSS SETTINGS -->
  <link href="#{request.contextPath}/resources/royalslider/royalslider.css" rel="stylesheet"></link>
  <link href="#{request.contextPath}/resources/royalslider/skins/default-inverted/rs-default-inverted.css" rel="stylesheet"></link>
  
  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/rs-plugin/css/settings.css" media="screen" ></link>
        
  <!-- Support for HTML5 -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Enable media queries on older bgeneral_rowsers -->
  <!--[if lt IE 9]>
    <script src="#{request.contextPath}/resources/js/respond.min.js"></script>  <![endif]-->

	<!-- Switcher Only -->
        <link rel="stylesheet" id="switcher-css" type="text/css" href="#{request.contextPath}/resources/switcher/css/switcher.css" media="all" />
    <!-- END Switcher Styles -->
    
	<!-- Demo Examples -->
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/green.css" title="green" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/tael.css" title="tael" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/light-green.css" title="light-green" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/yellow.css" title="yellow" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/blue.css" title="blue" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/light-blue.css" title="light-blue" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/purple.css" title="purple" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/violet.css" title="violet" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/switcher/css/red.css" title="red" media="all" />        <link rel="alternate stylesheet" type="text/css" href="switcher/css/orange.css" title="orange" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="#{request.contextPath}/resources/dark-style.css" title="dark" media="all" />
	<!-- END Demo Examples -->
</ui:composition>