<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/core.xhtml">
	<ui:define name="title">login</ui:define>
	<ui:define name="content">
		<div style="margin-left: 15cm;">
		<h1>login page</h1>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="login" />
				<h:inputText value="#{userMangementBean.user.username}" />
				<h:outputText value="password" />
				<h:inputSecret value="#{userMangementBean.user.password}" />
			</h:panelGrid>
			<h:commandButton action="#{userMangementBean.doLogin()}" value="login" />
			<h:commandLink action="signUp" value="signUp" />
		</h:form>
		</div>
	</ui:define>


</ui:composition>
