<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">
	   
	 <h:head>
	 
	 </h:head>
<h2>
statistique about your challenges </h2>
<h:body>
<h:form>
 
<p:chart type="pie" model="#{ChalBean.pieModel1}" style="width:400px;height:300px" />
<p:chart type="bar" model="#{ChalBean.barModel}" style="height:300px"/>
</h:form>
</h:body>

</html>
