<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<!-- Main Scripts-->
  <script src="#{request.contextPath}/resources/js/jquery.js"></script>
  <script src="#{request.contextPath}/resources/js/bootstrap.min.js"></script>
  <script src="#{request.contextPath}/resources/js/menu.js"></script>
  <script src="#{request.contextPath}/resources/js/owl.carousel.min.js"></script>
  <script src="#{request.contextPath}/resources/js/jquery.parallax-1.1.3.js"></script>
  <script src="#{request.contextPath}/resources/js/jquery.simple-text-rotator.js"></script>
  <script src="#{request.contextPath}/resources/js/wow.min.js"></script>
  <script src="#{request.contextPath}/resources/js/custom.js"></script>
  
  <script src="#{request.contextPath}/resources/js/jquery.isotope.min.js"></script>
  <script src="#{request.contextPath}/resources/js/custom-portfolio.js"></script>

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="#{request.contextPath}/resources/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript">
	var revapi;
	jQuery(document).ready(function() {
		revapi = jQuery('.tp-banner').revolution(
		{
			delay:9000,
			startwidth:1170,
			startheight:500,
			hideThumbs:10,
			fullWidth:"on",
			forceFullWidth:"on"
		});
	});	//ready
  </script>
      
  <!-- Royal Slider script files -->
  <script src="#{request.contextPath}/resources/royalslider/jquery.easing-1.3.js"></script>
  <script src="#{request.contextPath}/resources/royalslider/jquery.royalslider.min.js"></script>
  <script>
	jQuery(document).ready(function($) {
	  var rsi = $('#slider-in-laptop').royalSlider({
		autoHeight: false,
		arrowsNav: false,
		fadeinLoadedSlide: false,
		controlNavigationSpacing: 0,
		controlNavigation: 'bullets',
		imageScaleMode: 'fill',
		imageAlignCenter: true,
		loop: false,
		loopRewind: false,
		numImagesToPreload: 6,
		keyboardNavEnabled: true,
		autoScaleSlider: true,  
		autoScaleSliderWidth: 486,     
		autoScaleSliderHeight: 315,
	
		/* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
		imgWidth: 792,
		imgHeight: 479
	
	  }).data('royalSlider');
	  $('#slider-next').click(function() {
		rsi.next();
	  });
	  $('#slider-prev').click(function() {
		rsi.prev();
	  });
	});
  </script>
    
    

  <!-- Demo Switcher JS -->
  <script type="text/javascript" src="#{request.contextPath}/resources/switcher/js/fswit.js"></script>
  <script src="#{request.contextPath}/resources/switcher/js/bootstrap-select.js"></script>
 
</ui:composition>