<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/core.xhtml">

	  
	  <ui:define name="title">Crud groupe</ui:define>
	<ui:define name="content">

<h:body>
<h2>
please select a winner </h2>

<h:form>
<p:growl id="growl" showDetail="true" sticky="true" /> 



<section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
							<div class="doc">
                            	<h3> select winner </h3>
                                <table class="table">
                                  <thead>
                                    <tr>
                                     
                                      <th>id</th>
                                      <th>places</th>
                                      <th>first name</th>
                                      <th>lastname</th>
                                      <th></th>
                                      
                                     
                                     
                                   
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <ui:repeat var="user" value="#{ChalBean.gta1}">
                                    <tr>
                               <td>#{user.id}</td>
                               <td>#{user1.nbrePlace}</td>
                               <td>#{user.firstname}</td>
                               <td>#{user.lastname}</td>
                               <td>  <p:commandButton type="submit" value="add user to group"
				action="#{ChalBean.putuseraswinner(user.id)}"   /> </td>
                              
                                    </tr>
                                    
                                    </ui:repeat>
                                  
                                  </tbody>
                                </table>
                            </div>
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
							
                            
                            <div class="clearfix"></div>
                            <hr></hr>
                            
					
                        </div><!-- end col-lg-12 -->
					</div><!-- end blog-masonry -->
            	</div><!-- end row --> 
            </div><!-- end content -->
            
			
    	</div><!-- end container -->
    </section><!--end white-wrapper -->



</h:form>

</h:body>
</ui:define>
</ui:composition>