<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

	  
	 <h:head>
	 </h:head>
<h:body>
<h2>
veuillez saisir les donnée du challenge </h2>

<h:form>
<h:panelGrid columns="2">
<p:outputLabel value="challenge name"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.nomChallenge1}"/>
<p:outputLabel value="description"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.descriptionChallenge1}"/>
<p:outputLabel value="places"/>
<p:inputText  placeholder="Challenge name" value="#{ChalBean.nbrePlace1}" type="number"/>
<p:outputLabel for="datetime" value="Date expiration du challenge" />
        <p:calendar id="datetime" value="#{ChalBean.datedebut1}" pattern="MM/dd/yyyy HH:mm:ss" />
 <p:outputLabel for="datetime1" value="Date expiration du challenge" />
        <p:calendar id="datetime1" value="#{ChalBean.dateExpiration1}" pattern="MM/dd/yyyy HH:mm:ss" />
</h:panelGrid>
 
<p:commandButton type="submit" value="update"
				action="#{ChalBean.DoupdateChallenge()}"  /> <br></br>


</h:form>

</h:body>
</html>